@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter';
    list-style: none;
    text-decoration: none;
    user-select: none;
}

.content-account {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.rectangle {
    display:inline-block;
    justify-content: center;
    width: 30rem;
    height: 20rem;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.096);
}

.up-side {
    display: flex;
    background-color: #418F25;
    height: 30%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    align-items: center;
}

.up-side > a {
 font-size: 35px;
 margin-left: 2%;
 font-weight: 600;
}

.up-side > a {
    align-items: center;
    justify-content: left;
    padding-top: 12px;
    padding-left: 10px;
    padding-bottom: 4px;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    text-emphasis-style: none;
    text-decoration: none;
    list-style: none;
}

.sides {
    display: flex;
}

.down-side {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.down-side > label {
    margin-right: 25px;
    padding-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
}

.down {
    display: flex;
    margin-top: 280px;
    justify-content: right;
    align-items: center;
    width: 97%;
    height: 4rem;
}

.radio-button{
height: 15px;
width: 15px;
}

.down-side h1{
margin-left: 2%;
margin-top: 2%;
font-size: 20px;
}

.down-side input{
    margin-left: 2%;
    margin-top: 5%;
    font-size: 20px;
}
.content{
align-items: center;
justify-content: center;
}

.content label{
margin-right: 3%;
font-weight: 800;
}

#buy-button{
width: 120px;
height: 40px;
background-color: #418F25;
border-radius: 3px;
color: aliceblue;
border: none;
font-weight: 500;
padding: 0;
margin-left: 36%;
margin-top: 15%;
}

#buy-button:hover{
    background-color: #255c12;
    }