@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter';
    list-style: none;
    text-decoration: none;
    user-select: none;
}

.rodape {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    background-color: #0D0D0D;
    align-items: center;
    justify-content: center;
    padding: 40px;
    justify-content: space-around;
}

.Titulo {
    color: #FFB800;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.coluna-list > li {
    margin-bottom: 15px;
}


.coluna-list > li > img {
    position: absolute;
    display: flex;
    width: 19px;
    height: 19px;
}

.coluna-list > li > a {
    user-select: text;
    display: flex;
    margin-left: 25px;
}

.coluna > a {
    user-select: text;
    font-weight: medium;
}

.pagamento-list {
    display: flex;
    align-items: center;
}

.pagamento-list > li {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.pagamento-list > li > img {
    display: flex;
    width: 40px;
    height: 40px;
}
